* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
img {
  width: inherit;
  height: inherit;
  padding-bottom: 10px;
  object-fit: cover;
}
img:hover {
  opacity: 50%;
}
.logo {
  max-width: 500px;
}
/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  width: 100%;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  width: 100%;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.hidden {
  display: none;
}

.expert-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.exp-desc {
  max-width: 75%;
  padding: 20px;
  text-align: center;
}
/* Images */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 5px;
}
.portrait {
  max-width: 50%;
  background-color: #aaa;
  padding: 5px;
}
.expert-photo {
  max-width: 100%;
}
.expert-photo:hover {
  opacity: 100%;
}
.info-tab{
  text-align: center;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  width: 100%;
}
.social-links {
  width: 30px;
}
.copyright {
  font-size: small;
}
/* Forms */
#price,
#timing {
  font-weight: bold;
}
.warning {
  color: red;
  font-weight: bold;
  font-size: small;
}
.radio-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.radio-input li {
  padding: 5px;
}
button {
  color: white;
  background-color: black;
  border: none;
  width: 165px;
  height: 30px;
}
button:hover {
  background-color: #ddd;
  color: black;
}
#add,
#remove {
  width: 60px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .expert-info {
    flex-direction: column;
  }
  .exp-desc {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
/* Spinner styles */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
